// 滚动条样式
::-webkit-scrollbar-thumb {
    background-color: #49b1f5 !important;
    background-image: -webkit-linear-gradient( 45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent ) !important;
}

:root {
  // 返回顶部 按钮
  --back-to-top-z-index: 5;
  --back-to-top-color: #3eaf7c;
  --back-to-top-color-hover: #71cda3;
  // 图片提供可缩放的功能css
  --medium-zoom-z-index: 100;
  --medium-zoom-bg-color: #ffffff;
  --medium-zoom-opacity: 1;
}
 